<h1>Boards</h1>

<% @boards.each do |board| %>
  <div>
    <a href="/boards/<%= board.id %>">
      <%= board.name %>
    </a>
  </div>
<% end %>

<hr>

<h2>Add a new board</h2>

<form action="/insert_board" method="post">
  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Add board</button>
</form>

<% if notice.present? %>
  <div>
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div>
    <%= alert %>
  </div>
<% end %> 
