<h1>Bulletin Boards</h1>

<ul>
  <% @boards.each do |board| %>
    <li>
      <a href="/boards/<%= board.id %>"><%= board.name %></a>
    </li>
  <% end %>
</ul>

<h2>Add a new board</h2>

<form action="/insert_board" method="post">
  <div>
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
  </div>

  <button>Add board</button>
</form>

<% if notice.present? %>
  <div>
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div>
    <%= alert %>
  </div>
<% end %> 
